.image {
  clip-path: inset(100% 0% 0% 0%);
  transition: clip-path 2s cubic-bezier(0.77, 0, 0.175, 1);
  &.is-reveal {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.full-title {
  font-size: clamp(56px, 18vw, 89px);
  line-height: clamp(1, 1, 1);
}

@media (min-width: 768px) {
  .full-title {
    font-size: clamp(69px, 8vw, 92px);
    line-height: clamp(1, 1, 1);
  }
}

@media (min-width: 1200px) {
  .full-title {
    font-size: clamp(56px, 5vw, 69px);
    line-height: clamp(1, 1, 1);
  }
}

.desc-title {
  font-size: clamp(8px, 2.5vw, 13px);
  line-height: clamp(1, 1, 1);
}
